<h1>Welcome to Taskillicious</h1>
<ng-container *ngIf="categoryList$ | async as categoryList; else loader;">
    <h2>Choose a category</h2>
    <ng-container *ngIf="categoryList.length > 0; else empty">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let category of categoryList;">
                {{category.name}}
            </mat-list-item>
        </mat-list>
    </ng-container>
</ng-container>

<ng-template #loader>
    <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>

<ng-template #empty>
    There is no data.
</ng-template>